<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 接口的映射文件   相当于实现类  sql写在接口映射文件里 -->
<!-- 接口全类名 -->
<mapper namespace="com.atguigu.ssm.mapper.EmployeeMapper">

<!-- 方法1：查所有 -->
	<select id="getEmployees" resultMap="customMap1">
		SELECT e.id, e.last_name,e.email,e.salary,d.id dept_id,d.name dept_name
		FROM employees e
		LEFT JOIN departments d
		ON e.`dept_id`=d.`id`
	</select>

	<resultMap type="com.atguigu.ssm.entities.Employee" id="customMap1">
		<id column="id" property="id"/>
		<result column="last_name" property="lastName"/>
		<result column="email" property="email"/>
		<result column="salary" property="salary"/>
		
		<association property="dept" javaType="com.atguigu.ssm.entities.Department">
			<id column="dept_name" property="deptName"/>
			<result column="dept_id" property="id"/>
		</association>
	</resultMap>



<!-- id=接口方法名 ， resuletType=方法返回值类型全类名 -->
<!-- 查一个 -->
		<select id="getEmployeeById" resultType="com.atguigu.mybatis.entities.Employee">
			select id,last_name lastName,email,salary,dept_id deptId
			from employees where id = #{id}
		</select>
		
<!-- 增 -->
		<insert id="addEmployee" useGeneratedKeys="true" keyProperty="id">
			insert into employees(last_name,email,salary,dept_id) 
			values(#{lastName},#{email},#{salary},#{deptId})
		</insert>
		
<!--删  -->	
		<delete id="deleteEmployee">
			delete from employees where id =#{id}
		</delete>
	
<!-- 改 -->	
		<update id="updateEmployee">
			update employees set last_name=#{lastName},email=#{email},
			salary=#{salary},dept_id=#{deptId} where id=#{id}
		</update>
	
</mapper>